
  :root {
  --main-bg-color: #F2F7F2;
  --main-title-color: #8E5572;
  --highlighter-color: #BBBE64;
  --contrast-dark-color: #BCAA99;

}
  body {
    background-color: var(--main-bg-color);
    font-size: 1.2rem;
  }


  #navbar{
    /* grid-column: span 3; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
      width:100%;
    overflow-x: hidden;
    background-color: var(--highlighter-color);
    padding: .2rem 1.2rem;


  }
  #navbar header {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Poiret One', cursive;
    padding-bottom: 1.2rem;
  }

#js-logo {
  text-align: center;
  font-size: 3em;
  color: var(--main-bg-color);

}
nav ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    overflow-y:auto;
  overflow-x:hidden;
  height:88%;

}

nav a {
  display: block;
  font-family: 'Economica', sans-serif;
  font-size: 1.4rem;
  color: var(  --main-title-color);
  text-decoration: none;
  white-space: no-wrap;
}
nav li {
  border-bottom: 2px dotted var(--main-title-color);
  line-height: 250%;


.ref {
  font-family: 'Poiret One', cursive;
  padding-top: 1.5rem;
  font-size: 1.2rem;
}
#main-doc {
  position: absolute;
   margin-left:310px;
   padding:20px;
   margin-bottom:110px;
}
section {
  margin-left: 1.2rem;
  border-bottom: 2px dotted var(--main-title-color);
}
section header {
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight:700;
  color: var(--main-title-color);
  font-family: 'Poiret One', cursive;
}
code {
  display:block;
  text-align: center;
  background-color: var(--contrast-dark-color);
  padding: 1.2rem;
}

footer {
  color: var(--contrast-dark-color);
  padding: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: var(--contrast-dark-color);
}

  /* footer {
    grid-column: span 12;
} */

/* @media only screen and (max-width: 600px) {
  #navbar{
    width: 100%;
    padding: .2rem 1.2rem;
    height: 200px;
    overflow: scroll;
  }

.ref, #js-logo {
    display: none;
  }
  #navbar header {
    padding-top: .8rem;
  }
  nav li {
    margin-right: 1rem;
  }
  #main-doc {
    padding-top: 210px;
    margin-left: 0;
  }
} */
@media only screen and (max-width: 815px) {
    /* For mobile phones: */
  #navbar ul{
  border:1px solid;
    height:207px;
  }
    #navbar{
       background-color: var(--main-bg-color);
      position:absolute;
      top:0;
      padding:0;
      margin: 0;
      width:100%;
      max-height:275px;
      border:none;
      z-index:1;
      border-bottom:2px solid;
    }
  #main-doc{
    position: relative;
    margin-left:0px;
    margin-top:270px;
  }
  #main-doc section {
/*     padding-top: 240px; */
  }
}
@media only screen and (max-width: 400px) {
  #main-doc{
    margin-left:-10px;
  }
  code{
    margin-left:-20px;
    width:100%;
    padding:15px;
    padding-left:10px;
    padding-right:45px;
    min-width:233px;
  }
}
